<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.client.investment"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.app.client.investment.InvestmentApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.app.client.investment.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.app.client.investment.manager.InvestmentManagerActivity"
            android:label="@string/actionbar_invest_manager" >
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity
            android:name="com.app.client.investment.fundresearch.FundResearchActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.app.client.investment.fundmanager.FundManagerActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.app.client.investment.managertool.InvestmentManagerToolActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.app.client.investment.assetallocationlab.AssetAllocationLabActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.app.client.investment.assetallocationlab.RiskAnalysisActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.app.client.investment.LoginActivity"
            android:label="@string/app_name" 
            android:launchMode="singleTop"  
            android:noHistory="true">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.app.client.investment.juxianfang.Juxianfangactivity"
            android:label="@string/juxianlutan_name" >
             
        </activity>
        
        <activity
            android:name="com.app.client.investment.manager.ActivityAddMainAccount"
            android:label="@string/app_name" >
             
        </activity>
        <activity
            android:name="com.app.client.investment.manager.ActivitySelectCompany"
            android:label="@string/app_name" >
             
        </activity>
        <activity
            android:name="com.app.client.investment.manager.ActivityTradeRecord"
            android:label="@string/app_name" >
             
        </activity>
        
                <activity
            android:name="com.app.client.investment.manager.ActivityNotificationCenter"
            android:label="@string/app_name" >
             
        </activity>
        <activity
            android:name="com.app.client.investment.manager.ActivityNotificationDetail"
            android:label="@string/app_name" >
             
        </activity>
        
        <activity
            android:name="com.app.client.investment.manager.ActivityTransferMoney"
            android:label="@string/app_name" >
             
        </activity>
        
        <!-- <activity
            android:name="com.example.searchandgive.member.activity.MemberActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> -->
    </application>

</manifest>
